{% extends '::base.html.twig' %}

{% block content -%}
    <h1>SocialMedia</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Position</th>
            <td>{{ entity.position }}</td>
        </tr>
        <tr>
            <th>Icon</th>
            <td>
                <img src="{{ vich_uploader_asset(entity, 'uploadFile') }}" width="50" height="50">
            </td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('admin_socialmedia') }}">
        Back to the list
    </a>

    <a class="btn btn-primary" href="{{ path('admin_socialmedia_edit', { 'id': entity.id }) }}">
        Edit
    </a>

    {{ form(delete_form) }}

{% endblock %}


