{% extends '::base.html.twig' %}

{% block content %}
    <div class="container">

        <div class="block">
            <!-- Page header -->
            <div class="page-header">
                <h1><span>{{ 'admin.title.jobHuntTodoList'| trans }}</span></h1>
            </div>
            {{ form_start(form,{'attr':{'id' : 'jobHuntTodo'}}) }}
            <div class="row">
                <div class="col-lg-8">
                    <div class="input-group">
                        {{ form_widget(form.name, {'attr':{'onkeyup':'dataTableSearchResults(this)'}}) }}
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" id="searchJobHuntTodo" type="button"
                                    onclick="dataTableReload()">
                                   {{ "admin.list.button.Search"|trans }}!
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
            <table id="data-table" class="display nowrap hidden" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="text-danger" data-name="name">
                        {{ 'admin.jobhunt.label.Name'| trans }}
                    </th>
                    <th class="text-danger" data-name="createdAt">
                        {{ 'admin.jobhunt.label.ToSent'| trans }}
                    </th>
                    <th class="text-danger" data-name="createdAt">
                        {{ 'admin.jobhunt.label.Createdat'| trans }}
                    </th>
                    <th class="text-danger" data-name="description">
                        {{ 'admin.jobhunt.label.Description'| trans }}
                    </th>
                    <th class="text-danger no-sort">
                        {{ 'admin.jobhunt.label.Comment'| trans }}
                    </th>
                    <th class="text-danger no-sort">
                        {{ 'admin.jobhunt.label.Actions'| trans }}
                    </th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div class="row admin-pagination">
                <div class="col-md-8 col-sm-12">
                    <div class="dataTables_paginate paging_bootstrap_extended" id="datatable_ajax_paginate">
                        <div class="pagination-panel">
                            <span{{ 'admin.nameChange.label.page'| trans }}></span>
                            <a href="#" data-page="0" disabled
                               class="circle-red datatable-paginate-btn datatable-paginate-previous"
                               id="data-table-previous"><i class="fa fa-angle-left"></i></a>
                            <input value="1" id="data-table-page-number" type="text"
                                   class="pagination-panel-input form-control input-sm input-inline input-mini"
                                   maxlength="5">
                            <a href="#" data-page="2" class="circle-red datatable-paginate-btn datatable-paginate-next"
                               id="data-table-next"><i class="fa fa-angle-right"></i></a>
                            <span>{{ 'admin.nameChange.label.of'| trans }}</span> <span
                                    class="pagination-panel-total"></span>
                        </div>
                    </div>
                    <div class="dataTables_length" id="datatable_ajax_length">
                        <label>
                            <span id="data-table-pages-total"></span>
                            <span class="seperator">|</span>
                            <span id="data-table-total" class="seperator"></span>
                            <span>{{ 'admin.nameChange.label.view'| trans }}</span>
                            <select id="data-table-page-length"
                                    class="select-page-length form-control input-xs input-sm input-inline"
                                    aria-controls="datatable_ajax">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                            </select> <span>{{ 'admin.nameChange.label.records'| trans }}</span>
                        </label>
                    </div>
                    <div class="dataTables_info" id="datatable_ajax_info" role="status" aria-live="polite"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    {{ parent() }}
    {% javascripts
        "@TheaterjobsAdminBundle/Resources/js/dataTable/load.js" %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script>
        dataTableURL = Routing.generate('admin_load_job_hunt_todo_index', {'_locale': locale});
        adminSearchForm = $('#jobHuntTodo');

        $(() => {
            dataTableInitialize();
        });


        $(document).on("click", ".save", (event) => {
            const id = $(event.currentTarget).attr('id');
            const el = $('#comment-' + id);
            el.focus();
            const comment = el.val();
            if (comment.length === 0) {
                el.addClass('has-error');
                toolTipError("comment field is required", el);
                el.unbind('input');
                el.on("input", (event) => {
                    if ($(event.currentTarget).val().length !== 0) {
                        $(event.currentTarget).closest('.has-error').removeClass('has-error');
                        if (typeof $(event.currentTarget).attr('aria-describedby') !== "undefined") {
                            $(event.currentTarget).tooltip('destroy');
                            $(event.currentTarget).removeAttr('aria-describedby');
                        }
                    }
                });
                return;
            }

            $.ajax({
                type: 'POST',
                url: Routing.generate('admin_job_hunt_done', {id: id, '_locale': locale}),
                data: {comment: comment},
                success: (data) => {
                    if (data.success) {
                        dataTableReload();
                    }
                },
                error: () => {
                    serverError();
                }
            });
        });

    </script>
{% endblock %}