<div class="modal-body movebottom" id="new-organization">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                <h2> {{ 'dashboard.modal.newOrganization'| trans }}</h2>
                <p class="p-alt">{{ 'dashboard.modal.newOrganization.description'| trans }}</p>

                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <br/>
                <div style="text-align: center">
                    <button type="button" class="close-footer" data-dismiss="modal" aria-label="Close">{{ 'footer.modal.closeModal'| trans }}</button>
                    <div style="display: inline-block;">{{ form_row(form.submit, { 'attr': { 'class': 'btn btn-inverse-primary' } }) }}</div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
<script>
    nameForm = $("form[name='tj_inserate_form_organization_name']");
    nameForm.submit(function (e) {
        e.preventDefault();
        let loading = $(this).find('.submit-rolling-svg');
        if (loading.length === 0) {
            addLoadingSvg($(this));
            loading = $(this).find('.submit-rolling-svg');
        }
        if (loading.is(':visible')) {
            return;
        }
        loading.show();
        $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (data) {
                loading.hide();
                if (data.errors) {
                    for (var key in data.errors) {
                        var el = $("form[name='tj_inserate_form_organization_name']").find('input[name="' + data.errors[key]['field'] + '"]');
                        el.parent().addClass('has-error');
                        toolTipError(data.errors[key]['message'], el);
                    }
                } else {
                    if (data) {
                        window.location.replace(data.url);
                    }
                }
            },
            error: function () {
                loading.hide();
                serverError();
            }
        });
        return false;
    });
</script>