<div class="modal-body movebottom" id="bio">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                <h2> {{ 'people.edit.mainTitle.editBio'| trans }}</h2>
                {{ form_start(edit_form) }}
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(edit_form._token) }}
                        {{ form_row(edit_form.biography,{'attr':{'class' : 'usefultextarea  ckeditor'} }) }}
                    </div>
                </div>
                <br/>
                <div style="text-align: center">
                    <button type="button" class="close-footer" data-dismiss="modal" aria-label="Close">{{ 'footer.modal.closeModal'| trans }}</button>
                    <div style="display: inline-block">{{ form_row(edit_form.submit, { 'attr': { 'class': 'btn btn-inverse-primary center ' } }) }}</div>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
</div>
<script>
    var textareaId = $('.ckeditor').attr('id');
    const bioForm = $('#bio form');
    addLoadingSvg(bioForm);
    const loading = bioForm.find('.submit-rolling-svg');

    CKEDITOR.replace(textareaId, {
        customConfig: '{{ asset('bundles/theaterjobsmain/js/ckeditor/custom/bio.js') }}'
    });

    bioForm.submit(function (e) {
        e.preventDefault();
        if (loading.is(':visible')) {return;}
        loading.show();
        validFormInputs();
        CKEDITOR.instances[textareaId].updateElement();
        $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (data) {
                $('.bio-block').html(data);
                var bio = $(".bio-content");
                bio.html(CKEDITOR.instances[textareaId].getData());
                $(".bio-full").html(CKEDITOR.instances[textareaId].getData());
                if ($(".bio-content").height() >= 140) {
                    $('#bio-more-toggle').show();
                } else {
                    $('#bio-more-toggle').hide();
                }
                truncateText(".bio-content", "#bio-more-toggle", 150);
                loading.hide();
                $('#myModal').modal('hide');
            },
            error: function () {
                loading.hide();
                serverError();
            }
        });
    });
</script>