<div class="modal-body ">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                <h2>{{ 'people.show.modal.maintitle.education'| trans }}</h2>
                {#<a href="javascript:;" data-href="{{ path('tj_profile_qualification_new') }}"
                   class="add-new-link" id="addEducation"><span>+</span>{{ 'link.new'| trans }}
                </a>#}
                {% if entity.qualificationSection is not null %}
                    {% for education in entity.qualificationSection.qualifications %}
                        <p class="p-alt pull-right">
                            <a href="javascript:;" class="education_edit"
                               data-href="{{ path('tj_profile_qualification_edit',{id:education.id,slug:entity.slug}) }}">
                                <svg class="icon-svg icon-svg-inverse icon-inline" width="20" height="20">
                                    <use xlink:href="{{ asset('bundles/theaterjobsmain/img/icon-sprite.svg#icon-edit') }}"></use>
                                </svg> {{ 'link.edit'| trans }}
                            </a>
                        </p>
                        <b id="date{{ education.id }}">
                            {{ education.profession }}
                        </b>
                        {% set organizationRelated = education.organizationRelated ? education.organizationRelated.name  :'' %}
                        <p class="p-alt" id="details{{ education.id }}">
                            {{ organizationRelated }}<br>
                            {% set type = education.educationtype %}
                            {% set locale = app.request.locale %}
                            {{ type|trans({},'forms', locale) }},
                            {% if  education.finished %}
                                {{ 'people.show.detailBlock.label.graduate'| trans }} {{ education.endDate }}
                            {% else %}
                                {{ education.startDate ? education.startDate ~ ' - ' ~ education.endDate : education.startDate }}
                            {% endif %}
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    $('.education_edit').click(function () {
        $("#myModal").find(".modal-content").load($(this).data('href'));
    });
    $('#addEducation').click(function () {
        $("#myModal").find(".modal-content").load($(this).data('href'));
    });
</script>
