<div class="modal-body" id="parentForm">
    <div class="container">
        <h2>{{ 'profile.edit.mainTitle.showLocation'| trans }}</h2>
        <div>
            <h4 class="text-white">
                {# {{ 'tj.profile.full.address' | trans }} :#}
                <span id="fullAddress"></span>
            </h4>
        </div>
        <div id="map_container" style="width: 900px;margin: auto;">
            <div id="map" style="height:600px"></div>
            <div class="hidden">
                {{ entity.contactSection.geolocation }}
            </div>
            <div class="hidden">
                {{entity.contactSection.country }}
            </div>
            <div class="hidden">
                {{ entity.contactSection.city }}
            </div>
        </div>
    </div>
</div>

{% block js %}
    {% javascripts
    "@TheaterjobsMainBundle/Resources/public/js/map/location.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

<script>
    initialize();
</script>