{% import '::macro.html.twig' as m %}
{% import '@TheaterjobsInserate/jobMacro.twig' as jm %}
<div class="row">
    {# pass subcategories array to get the title from the checked value used in filter bar #}
    {{ jm.jobsFilterBar(form.vars.data, form,'tj_inserate_job_route_list', false, subcategories) }}

    <div class="col-xs-6 col-xxs-12">
        <p class="p-alt">
            <small>{{ knp_results(jobs, path('tj_inserate_job_route_list')) }}</small>
        </p>
    </div>

    <div class="{{ jobs.getTotalItemCount() > 0 ? '' : 'hidden' }}">
        <aside class="col-md-4 col-xs-12 pull-right">
            {% if category %}
                <div class="filter-group panel" style="margin-top:15px;">
                    <h3 class="toggle collapsed" data-toggle="collapse" data-target="#category-subcategories"
                        aria-expanded="false">{{ 'work.filter.title.subcategories' | trans }}
                        <span class="toggle-arrow">
                            <svg class="icon-svg icon-svg-inverse" width="20" height="20">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="{{ asset("bundles/theaterjobsmain/images/icon-sprite.svg#icon-arrow-toggle") }}"></use>
                            </svg>
                        </span>
                    </h3>

                    <div class="collapse filter-group-content" id="category-subcategories" aria-expanded="false"
                         style="height: 0px;">
                        <div class="collapse-body">
                            <h3 class="h3-desktop"> {{ 'work.filter.title.subcategories' | trans }} </h3>
                            <ul class="list-unstyled" id="category">
                                {% for var in form.subcategories %}
                                    {% set subcategoriesCounts = aggs.aggregations.subcategories.buckets | aggregation_count( var.vars.value) %}
                                    <li class="{{ subcategoriesCounts > 0 ? '':'hidden' }}">
                                        <div class="checkbox">
                                            <label class="subcategory-sidebar">
                                                {{ form_widget(var, { 'attr': {'onchange': 'checkboxClick($(this));'}}) }}
                                                <span class="faux-checkbox"></span>
                                                {{ var.vars.label }}
                                            </label>
                                            <span class="checkbox-number">
                                                {{ subcategoriesCounts }}
                                            </span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="filter-group panel" style="margin-top:15px;">
                    <h3 class="toggle collapsed" data-toggle="collapse" data-target="#category-subcategories"
                        aria-expanded="false">{{ 'work.filter.title.categories' | trans }}
                        <span class="toggle-arrow">
                            <svg class="icon-svg icon-svg-inverse" width="20" height="20">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="{{ asset("bundles/theaterjobsmain/images/icon-sprite.svg#icon-arrow-toggle") }}"></use>
                            </svg>
                        </span>
                    </h3>
                    <div class="collapse filter-group-content" id="category-subcategories" aria-expanded="false"
                         style="height: 0px;">
                        <div class="collapse-body">
                            <h3 class="h3-desktop"> {{ 'work.filter.title.categories' | trans }}</h3>
                            <ul class="list-unstyled" id="category">
                                {% for categoryAggs in aggs.aggregations.categories.buckets %}
                                    {% if categoryAggs.doc_count > 0 %}
                                        <li>
                                            <div class="checkbox">
                                                <label class="subcategory-sidebar">
                                                    <input type="checkbox" onclick="checkboxClick($(this));"
                                                           data-category="1"
                                                           value="{{ categoryAggs.key|lower|replace(' ','') }}">
                                                    <span class="faux-checkbox"></span>
                                                    {{ categoryAggs.title }}
                                                </label>
                                                <span class="checkbox-number">
                                                    {{ categoryAggs.doc_count }}
                                                </span>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% do form.subcategories.setRendered %}
            {% endif %}
            {% if showStatus == 1 %}
                <div class="panel panel-admin" style="margin-top:15px;">
                    <h3 class="toggle collapsed" data-toggle="collapse" data-target="#role-age" aria-expanded="false">
                        {{ 'work.filter.title.status' | trans }}
                        <span class="toggle-arrow">
                            <svg class="icon-svg icon-svg-inverse" width="20" height="20">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="{{ asset("bundles/theaterjobsmain/images/icon-sprite.svg#icon-arrow-toggle") }}"></use>
                            </svg>
                        </span>
                    </h3>
                    <div class="collapse" id="role-age" aria-expanded="false" style="height: 0px;">
                        <div class="collapse-body">
                            <div id="status" class="checkbox-status">
                                {% for var in form.status %}
                                    {% set statusCounts = aggs.aggregations.status_count.buckets | aggregation_count( var.vars.value) %}
                                    <div class="checkbox {{ statusCounts > 0 ? '':'hidden' }}">
                                        <label>
                                            {{ form_widget(var, { 'attr': {'onchange': 'filterListSearchForm()'}}) }}
                                            <span class="faux-checkbox"></span>
                                            {{ var.vars.label | trans }}
                                        </label>
                                        <span class="checkbox-number">
                                            {{ statusCounts }}
                                        </span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="filter-group panel" style="margin-top:15px;">
                <h3 class="toggle collapsed" data-toggle="collapse" data-target="#gratification-filter"
                    aria-expanded="false">
                    {{ 'work.filter.title.gratification' | trans }}
                    <span class="toggle-arrow">
                        <svg class="icon-svg icon-svg-inverse" width="20" height="20">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="{{ asset("bundles/theaterjobsmain/images/icon-sprite.svg#icon-arrow-toggle") }}"></use>
                        </svg>
                    </span>
                </h3>

                <div class="collapse filter-group-content" id="gratification-filter" aria-expanded="false"
                     style="height: 0px;">
                    <div class="collapse-body">
                        <h3 class="h3-desktop">{{ 'work.filter.title.gratification' | trans }}</h3>
                        <div id="gratification">
                            <ul class="list-unstyled">
                                {% for var in form.gratification %}
                                    {% set gratificationCounts = aggs.aggregations.gratification.buckets | aggregation_count( var.vars.value) %}
                                    <li class="{{ gratificationCounts > 0 ? '':'hidden' }}">
                                        <div class="checkbox">
                                            <label class="subcategory-sidebar">
                                                {{ form_widget(var, { 'attr': {'onclick':"checkboxClick($(this));"}}) }}
                                                <span class="faux-checkbox"></span>
                                                {{ var.vars.label | capitalize }}
                                            </label>
                                            <span class="checkbox-number">
                                                {{ gratificationCounts }}
                                            </span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>

    <!-- END Filters -->
    <div class="col-md-8 col-xs-12">
        {% for job in jobs %}
            <div class="listing {{ is_granted('ROLE_MEMBER') ? 'default-a' : is_granted('ROLE_USER') ? 'default-a unusable' : 'registerFirst' }}
            {% if job.status != 1 and not is_granted('ROLE_ADMIN') %}not-click-jobList {% endif %}">
                {% if job.status != 1 and not is_granted('ROLE_ADMIN') %}
                    <span class="tag-unfavorite">{{ "work.list.unavailable" | trans }}</span>
                {% endif %}
                <a {% if job.status == 1 or is_granted('ROLE_ADMIN') %} href="{{ path('tj_inserate_job_route_show', { 'slug': job.slug }) }}" {% endif %}>
                    {% set orgLogo = asset('bundles/theaterjobsmain/images/profile-placeholder.svg') %}
                    {% set checkJobLogo=0 %}
                    {% if job.path is defined and job.path %}
                        {% set orgLogo =  vich_uploader_asset(job, "uploadFile" , 'Theaterjobs\\InserateBundle\\Entity\\Job') | imagine_filter("list_photo") %}
                        {% set checkJobLogo=1 %}
                    {% elseif job.organization and checkJobLogo==0 %}
                        {% if job.organization.path is defined and job.organization.path %}
                            {% set orgLogo =  vich_uploader_asset(job.organization, "uploadFile" , 'Theaterjobs\\InserateBundle\\Entity\\Organization') | imagine_filter("list_photo") %}
                        {% endif %}
                    {% elseif job.user.profile is defined and job.user.profile %}
                        {% set orgLogo =  profile_photo(job.user.profile,'uploadFile','list_photo') %}
                    {% endif %}
                    <div class="row">

                        {% if is_granted('ROLE_MEMBER') %}
                            <div class="col-sm-6 col-xs-12">
                                {% if job.organization %}
                                    <h2 class="h2-alt">

                                        {{ job | highlight('organization.name.autocomplete',job.organization,1) }}
                                    </h2>
                                {% elseif job.user.profile is defined and job.user.profile %}
                                    <h2 class="h2-alt">{{ job.user.profile | defaultName }}</h2>
                                {% endif %}
                            </div>
                        {% endif %}

                        <div class="{% if is_granted('ROLE_MEMBER') %} col-sm-6 col-xs-12 {% else %} col-sm-12 col-xs-12{% endif %}">
                            <h5>{{ job | highlight('title.autocomplete') }} {% if is_granted('ROLE_USER') %} {{ job | favorite(app.user.profile.jobFavourite) }} {% endif %}</h5>
                            <p class="p-alt">
                                {% if job.asap %}
                                    <small>{{ "work.show.startASAP" | trans }}</small>
                                {% endif %}
                                {% if job.status != 1 and  job.statusChangedAt is defined %}
                            <p class="p-alt desc-dateFavourtiePeople"> {{ "job.label.unpublished" | trans }} {{ job.statusChangedAt | ago }} </p>
                            {% endif %}
                            {% if not job.asap %}
                                <small>{{ m.dateFormat(job) }}</small> {% endif %}
                            {% if job.engagementEnd is not defined or job.engagementStart is not defined %}
                                {% if job.engagementStart is defined and job.engagementStart is not null and not job.asap %}
                                    <small>{{ 'job.list.date.from' | trans }}
                                        {{ job.engagementStart| localizeddate('none', 'none', app.request.locale, null, 'd. MMMM Y') }}</small>
                                {% endif %}
                                {% if job.engagementEnd is defined and job.engagementEnd  is not null %}
                                    <small>{% if job.asap %} - {% else %} {{ 'job.list..date.till' | trans }} {% endif %}
                                        {{ job.engagementEnd| localizeddate('none', 'none', app.request.locale, null, 'd. MMMM Y') }}</small>
                                {% endif %}
                            {% endif %}
                            </p>
                            {% if job.status == 3 and (job |un_favorite(app.user,'job')) %}
                                <a class="removeFavoriteList" onclick="removeFavorite('{{ job.slug }}')">
                                    {{ 'favorite.list.jobs.remove.from.favorites' | trans }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row listing-footer">
                        <div class="col-sm-6 hide-sm logo-organization-joblist">
                            {% if is_granted('ROLE_MEMBER') %}
                                <img src="{{ orgLogo }}">
                            {% endif %}
                        </div>
                        <div class="col-sm-2 col-xs-12">

                        </div>
                        <div class="col-sm-4 col-xs-12 text-right">
                            {% if job.status == 1 %}
                                <p class="listing-date">{{ job.publishedAt | ago }}</p>
                            {% endif %}

                        </div>
                    </div>
                </a>
                <div class="gratification-block-link">
                    <a href="{{ path('tj_gratifiction_explanation_page') }}" target="_blank" id="anchor_gratifications"
                       class="levels-details">
                        <div class="levels">
                            {% if is_granted('ROLE_MEMBER') or is_granted('ROLE_ADMIN') %}
                                {% if job.gratification %}
                                    {{ jm.gratificationCoins(job.gratification) }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(jobs) }}
        </div>

    </div>
</div>
<script>
    {% if app.request.isXmlHttpRequest %}
    {% if category %}
    document.getElementById('searchCategory').textContent = '{{ category.title }}';
    {% else %}
    document.getElementById('searchCategory').textContent = '{{ "work.category.work" | trans }}';
    {% endif %}
    {% endif %}
</script>