{% extends '::base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="block">
            <!-- Page header -->
            <div class="page-header">
                <h1>
                    <span>
                        {{ "admin.title.invoucelist"|trans }}
                    </span>
                </h1>
            </div>
            <div class="row">
                {{ form_start(form,{'attr':{'id' : 'adminBillingSearchForm'}}) }}
                <div class="col-lg-8">
                    <div class="input-group">
                        {{ form_widget(form.input,{'attr':{'class' : 'hidden','onkeyup':'dataTableSearchResults(this)'}}) }}
                        {{ form_widget(form.user,{'attr':{'class' : 'hidden','onkeyup':'dataTableSearchResults(this)'}}) }}
                        {{ form_widget(form.billingNr,{'attr':{'onkeyup':'dataTableSearchResults(this)'}}) }}
                        {{ form_widget(form.billingCreationFrom,{'attr':{'class' : 'hidden','onkeyup':'dataTableSearchResults(this)'}}) }}
                        <div class="input-group-addon hidden" id="to">to</div>
                        {{ form_widget(form.billingCreationTo,{'attr':{'class' : 'hidden'}}) }}
                        {{ form_widget(form.billingIban,{'attr':{'class' : 'hidden','onkeyup':'dataTableSearchResults(this)'}}) }}
                        {{ form_widget(form.billingPayment,{'attr':{'class' : 'hidden', 'onkeyup':'dataTableSearchResults(this)'}}) }}
                        {{ form_widget(form.billingCountry,{'attr':{'class' : 'hidden','onkeyup':'dataTableSearchResults(this,2)'}}) }}
                        <span class="input-group-btn">
                              <button class="btn btn-secondary" onclick="dataTableReload();" id="searchTable"
                                      type="button">
                                  {{ "admin.invoicelist.button.Search"|trans }}
                              </button>
                        </span>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4">
                    {{ form_row(form.choices) }}
                </div>
                {{ form_end(form) }}
            </div>

            <table id="data-table" class="display nowrap hidden" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="text-danger" data-name="user">
                        {{ "admin.invoicelist.User"|trans }}
                    </th>
                    <th class="text-danger" data-name="billingNo">
                        {{ "admin.invoicelist.BillingNo"|trans }}
                    </th>
                    <th class="text-danger" data-name="iban">
                        {{ "admin.invoicelist.Iban"|trans }}
                    </th>
                    <th class="text-danger" data-name="paymentmethod">
                        {{ "admin.invoicelist.PaymentMethod"|trans }}
                    </th>
                    <th class="text-danger" data-name="country">
                        {{ "admin.invoicelist.Country"|trans }}
                    </th>
                    <th class="text-danger" data-name="creation">
                        {{ "admin.invoicelist.Creation"|trans }}
                    </th>
                    <th class="text-danger no-sort">
                        {{ "admin.invoicelist.Kind"|trans }}
                    </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="row admin-pagination">
                <div class="col-md-8 col-sm-12">
                    <div class="dataTables_paginate paging_bootstrap_extended" id="datatable_ajax_paginate">
                        <div class="pagination-panel">
                            <span{{ 'admin.nameChange.label.page'| trans }}></span>
                            <a href="javascript:" data-page="0" disabled
                               class="circle-red datatable-paginate-btn datatable-paginate-previous"
                               id="data-table-previous">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <input value="1" id="data-table-page-number" type="text"
                                   class="pagination-panel-input form-control input-sm input-inline input-mini"
                                   maxlength="5">
                            <a href="javascript:;" data-page="2"
                               class="circle-red datatable-paginate-btn datatable-paginate-next"
                               id="data-table-next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                            <span>{{ 'admin.nameChange.label.of'| trans }}</span>
                            <span class="pagination-panel-total"></span>
                        </div>
                    </div>
                    <div class="dataTables_length" id="datatable_ajax_length">
                        <label>
                            <span id="data-table-pages-total"></span>
                            <span class="seperator">|</span>
                            <span id="data-table-total" class="seperator"></span>
                            <span>{{ 'admin.nameChange.label.view'| trans }}</span>
                            <select id="data-table-page-length"
                                    class="select-page-length form-control input-xs input-sm input-inline"
                                    aria-controls="datatable_ajax">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                            </select> <span>{{ 'admin.nameChange.label.records'| trans }}</span>
                        </label>
                    </div>
                    <div class="dataTables_info" id="datatable_ajax_info" role="status" aria-live="polite"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    {{ parent() }}
    <script>
        var element = '{{ app.request.get('element')|trim }}';
        searchPhrase = '{{ app.request.get('searchPhrase')|trim }}';
    </script>

    {% javascripts
        "@TheaterjobsAdminBundle/Resources/js/dataTable/load.js"
        "@TheaterjobsAdminBundle/Resources/js/billing/list.js" %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}