<div class="modal-body movebottom" id="organizationDes">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                <h2> {{ 'organization.edit.mainTitle.editDesc'| trans }}</h2>
                {{ form_start(edit_form) }}
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(edit_form._token) }}
                        {{ form_widget(edit_form.description,{'attr':{'class' : 'usefultextarea ckeditor'} }) }}
                    </div>
                </div>
                <br/>
                <div style="text-align: center">
                    <button type="button" class="close-footer" data-dismiss="modal" aria-label="Close">{{ 'footer.modal.closeModal'| trans }}</button>
                    <div style="display: inline-block">{{ form_row(edit_form.submit, { 'attr': { 'class': 'btn btn-inverse-primary center' } }) }}</div>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
</div>
<script>

    var desc = $('.usefultextarea').attr('id');

    CKEDITOR.replace(desc, {
        customConfig: '{{ asset('bundles/theaterjobsmain/js/ckeditor/custom/bio.js') }}'
    });
    const orgaDescForm = $('#organizationDes form');
    addLoadingSvg(orgaDescForm);
    const loading = orgaDescForm.find('.submit-rolling-svg');

    orgaDescForm.submit(function (e) {
        e.preventDefault();
        if (loading.is(':visible')) {return;}
        validFormInputs();
        CKEDITOR.instances[desc].updateElement();
        loading.show();
        $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (data) {
                loading.hide();
                $('.description-organization').html(data.content);
                $('.logs-block').html(data.logs);
                var bio = $(".bio-content");
                bio.html(CKEDITOR.instances[desc].getData());
                $(".bio-full").html(CKEDITOR.instances[desc].getData());
                if ($(".bio-content").height() >= 140) {
                    $('#bio-more-toggle').show();
                } else {
                    $('#bio-more-toggle').hide();
                }
                truncateText(".bio-content", "#bio-more-toggle", 150);
            },
            error: function () {
                loading.hide();
                serverError();
            }
        }).done(function () {
            $('#myModal').modal('hide');
        });
    });
</script>