{% import '::macro.html.twig' as m %}
<div class="modal-body movebottom" id="organizationBudget">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <div class="row"><h2> {{ 'organization.edit.mainTitle.editOrganizationGrantsBudgets'| trans }}</h2>
                </div>
                {{ form_start(edit_form) }}
                <div class="row">
                    <div class="row">
                        {{ form_row(edit_form._token) }}
                        {{ form_label(edit_form.organizationGrants) }}
                        <ul class="grants"
                            data-prototype='{{ form_widget(edit_form.organizationGrants.vars.prototype) }}'>
                            {% for grants in edit_form.organizationGrants %}
                                <li class="grants-li">
                                    {{ form_row(grants.season) }}
                                    {{ form_row(grants.budget) }}
                                    {{ form_row(grants.grants) }}
                                    {{ form_row(grants.moreInfo) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <br/>
                <div style="text-align: center">
                    <button type="button" class="close-footer" data-dismiss="modal" aria-label="Close">{{ 'footer.modal.closeModal'| trans }}</button>
                    <div style="display: inline-block">{{ form_row(edit_form.submit, { 'attr': { 'class': 'btn btn-inverse-primary center' } }) }}</div>
                </div>
                {{ form_end(edit_form, {'render_rest': false}) }}
                {#{{ m.error }}#}
            </div>
            {{ m.error }}
        </div>
    </div>
</div>
<script>
    var grantsYears = [];
    var grantCount = '{{ edit_form.organizationGrants|length }}';
    //GRANTS

    var $addGrantsLink = $('<a href="#" class="row add_grants_link"><svg class="icon-svg icon-svg-inverse icon-inline" width="20" height="20"> <use xlink:href="{{ asset('bundles/theaterjobsmain/images/icon-sprite.svg#icon-new') }}"></use></svg>{{ "organization.edit.addNewGrant"| trans }}</a>');

    var $addGrantsLink = $('<a href="#" class="row add_grants_link"><svg class="icon-svg icon-svg-inverse icon-inline" width="20" height="20"> <use xlink:href="{{ asset('bundles/theaterjobsmain/images/icon-sprite.svg#icon-new') }}"></use></svg>{{ "organization.edit.button.addnewGrant"| trans }}</a>');

    var $newLinkLiGrants = $('<li class="col-md-12"></li>').append($addGrantsLink);
    var i = 0;

    function addTagForm($collectionHolder, $newLinkLi) {
        $('.grants select').each(function () {
            grantsYears.push($(this).val());
        });
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');
        // get the new index
        var index = $collectionHolder.data('index');
        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);
        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);
        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<li class="add-list grants-li"></li>').append(newForm);
        addTagFormDeleteLink($newFormLi, i);
        $newLinkLi.before($newFormLi);
        var countGrants = 0;

        $('#tj_inserate_form_organization_budgets_organizationGrants_' + index + '_season option').each(function () {
            if (inArray.call(grantsYears, $(this).val())) {
                $(this).attr("disabled", "disabled");
                countGrants++;
            }

        });

        $('#tj_inserate_form_organization_budgets_organizationGrants_' + index + '_season option:eq("' + countGrants + '")').prop({selected: true});
    }
    function validateGrantInput() {
        var returnVal = true;
        $('.grants >li.grants-li').each(function () {
            var budgetInput = $(this).find($('input.budgetInput'));
            var grantsInput = $(this).find($('input.grantsInput'));
            if (!budgetInput.val() && !grantsInput.val())  {
                toolTipError('This field is required.', budgetInput);
                toolTipError('This field is required.', grantsInput);
                returnVal = false;

                $('.text-danger').removeClass('hidden');


            }
            else {
                budgetInput.closest('.has-error').removeClass('has-error');
                grantsInput.closest('.has-error').removeClass('has-error');
                $('.text-danger').addClass('hidden');
                if (typeof budgetInput.attr('aria-describedby') !== "undefined") {
                    budgetInput.tooltip('destroy');
                    budgetInput.removeAttr('aria-describedby');
                }
                if (typeof grantsInput.attr('aria-describedby') !== "undefined") {
                    grantsInput.tooltip('destroy');
                    grantsInput.removeAttr('aria-describedby');
                }
                returnVal = true;
            }

        });
        //console.log(returnVal);
        return returnVal;
    }



    function addTagFormDeleteLink($tagFormLi, index) {
        var $removeFormA = $('<div class="stage-modal col-md-12"><h3>' + '{{ 'organization.edit.title.grants' |trans }} ' + index + '</h3><a href="#" class="pull-right"><svg class="icon-svg icon-svg-inverse icon-inline" width="14" height="14"><use xlink:href="{{ asset('bundles/theaterjobsmain/images/icon-sprite.svg#icon-small-close') }}"></use> </svg>{{ "link.remove" | trans }}</a></div>');
        $tagFormLi.prepend($removeFormA);
        $removeFormA.find('a').on('click', function (e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
            bootbox.confirm({
                message: trans('bootbox.wantToDelete',locale),
                buttons: {
                    confirm: {
                        label: trans('bootbox.button.yes',locale),
                        className: 'btn-success'
                    },
                    cancel: {
                        label: trans('bootbox.button.no',locale),
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        // remove the li for the tag form
                        $tagFormLi.remove();
                    }
                }
            });
        });
    }

    // Get the ul that holds the collection of tags
    $collectionHolderGrants = $('ul.grants');
    $collectionHolderGrants.find('li').each(function () {
        i++;
        addTagFormDeleteLink($(this), i);
    });
    // add the "add a tag" anchor and li to the tags ul
    $collectionHolderGrants.append($newLinkLiGrants);
    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolderGrants.data('index', $collectionHolderGrants.find(':input').length);
    $addGrantsLink.on('click', function (e) {
        if (validateGrantInput()) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
            i++;
            // add a new tag form (see next code block)
            addTagForm($collectionHolderGrants, $newLinkLiGrants);
        }
    });


    //FORM SUBMIT
    const orgaGrantsForm = $('#organizationBudget form');
    addLoadingSvg(orgaGrantsForm);
    const loading = orgaGrantsForm.find('.submit-rolling-svg');

    orgaGrantsForm.submit(function (e) {
        e.preventDefault();
        if (loading.is(':visible')) {return;}
        validFormInputs();
        var valid = false;
        if ($(this).valid() && validateGrantInput()) {
            loading.show();
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function (data) {
                    loading.hide();
                    if (data.errors) {
                        for (var key in data.errors) {
                            var el = $('#organizationBudget form').find('input[name="' + key + '"]');
                            el.parent().addClass('has-error');
                            toolTipError(data.errors[key], el);
                        }
                    } else {
                        $('.grants-block').html(data.content);
                        $('.logs-block').html(data.logs);
                        valid = true;
                    }
                },
                error: function () {
                    loading.hide();
                    serverError();
                }
            }).done(function () {
                if (valid) {
                    $('#myModal').modal('hide');

                    var grids = $("[data-masonry]");
                    grids.each(function () {
                        $(this).masonry({
                            itemSelector: "[data-masonry-item]"
                        });

                        $(this).masonry("on", "layoutComplete", function () {
                            $("[data-masonry-item] .panel").each(function () {
                                $(this).bleedPanel();
                            });
                        });

                        $(this).masonry();
                    });
                }
            });
        }
    });

    $(function () {
        if (parseInt(grantCount) === 0) {
            $('.add_grants_link').trigger('click');
        }
    });

    $("form[name=tj_inserate_form_organization_budgets]").validate({
        errorPlacement: function (error, element) {
            toolTipError(error.text(), element);
        },
        ignore: [],
        rules: {}
    });

    $.validator.addClassRules(
            "budgetInput", {
                currency: true
            }
    );
    $.validator.addClassRules(
            "grantsInput", {
                currency: true
            }
    );
</script>