{% import '::macro.html.twig' as m %}
<div class="modal-body movebottom" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <h2> {{ 'account.edit.mainTitle.changePassword'| trans }}</h2>
                {{ form_start(form,{'method': 'POST'}) }}
                {{ form_row(form.children._token) }}
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        {{ form_row(form.children.password) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xxs-12">
                        {{ form_row(form.children.plainPassword.children.first,{'autocomplete':'off'}) }}
                    </div>
                    <div class="col-xs-4 col-xxs-12">
                        {{ form_row(form.children.plainPassword.children.second,{'autocomplete':'off'}) }}
                    </div>
                    <div class="col-xs-4 col-xxs-12">
                        <div class="form-group">
                            <label for="strength-bar"
                                   class="strength-bar-label">{{ 'registration.label.strength' | trans }}</label>
                            <input type="text" class="form-control" id="strength-bar" disabled/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <p class="p-alt" style="text-align: center;margin-bottom: 25px;">
                        {{ form_widget(form.children.submit,{'attr':{'class':' btn-inverse'} ,'label':'button.passwordReset' | trans({},'forms')}) }}
                    </p>
                </div>
            </div>


            {{ form_end(form) }}
            <br/>
        </div>
    </div>
</div>
</div>

{% block js %}
    {% javascripts filter="?uglifyjs2"
    '@TheaterjobsMainBundle/Resources/public/components/jquery.complexify.js/jquery.complexify.banlist.js'
    '@TheaterjobsMainBundle/Resources/public/components/jquery.complexify.js/jquery.complexify.js'
    '@TheaterjobsUserBundle/Resources/public/js/changePassword/changePassword.js' %}
    <script>
        $.getScript("{{ asset_url }}");
    </script>
    {% endjavascripts %}
    <script>
        var form = $('form[name="tj_user_form_change_password"]');
        form.submit(function (e) {
            e.preventDefault();
            var valid = false;
            validFormInputs();
            if ($(this).valid()) {
                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.error) {
                            for (var i = 0; i < data.errors.length; i++) {
                                var el = $(data.errors[i].field);
                                el.parent().addClass('has-error');
                                toolTipError(data.errors[i].message, el);
                            }
                        }
                        else {
                            $('#passwordLastEdit').text(data.date);
                            $('#dtPasswordUnchanged,#dtPasswordUnchanged1').hide();
                            $('#dtPasswordChanged1,#dtPasswordChanged').show();
                            valid = true;
                        }
                    },
                    error: function () {
                        serverError();
                    }

                }).done(function (data) {
                    if (valid) {
                        $('#myModal').modal('hide');
                        popupCase(trans('password.reset.successfully', locale));
                    }
                });
            }
        });
    </script>
{% endblock %}
