{% import '::macro.html.twig' as m %}
<div class="modal-body movebottom" id="mediaAudio">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                <h2>{{ 'people.add.mainTitle.audio'| trans }}</h2>
                {{ form_start(edit_form,{'attr':{'id' : 'new_audio_form'}}) }}
                {{ form_row(edit_form._token) }}
                {{ form_row(edit_form.title) }}
                <div class="row content-block">
                    <div class="col-md-6 no-padding-left">
                        <div id="profile-media" class="display-slider  upload-image">
                            <div class="display-slider-empty audio-slider">
                                <label class="display-slider-add-content upload-block">
                                    {{ form_widget(edit_form.uploadFile) }}
                                    + {{ 'people.add.label.addAudio'| trans }}
                                </label>
                            </div>
                            <audio controls id="player" class="hidden" style="width: 100%">
                                <source src="" type="audio/mpeg">
                                <source src="" type="audio/ogg">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                    </div>

                    <div class="col-md-6 no-padding-right">
                        <div id="audio-image" class="display-slider upload-image">
                            <div class="display-slider-empty audio-slider">
                                <img id="medianews" src="{{ asset('bundles/theaterjobsmain/img/empty-display.jpg') }}">/>
                                <label class="display-slider-add-content upload-block"
                                       id="news-label-image">
                                    {{ form_widget(edit_form.uploadFileImage) }}
                                    + {{ 'profile.new.add.label.addImage'| trans }}<br>
                                </label>
                            </div>
                        </div>
                        {{ form_row(edit_form.copyrightText, { 'attr':{'disabled':'disabled'} }) }}
                    </div>
                </div>
                <div style="text-align: center">
                    <button type="button" class="close-footer" data-dismiss="modal"
                            aria-label="Close">{{ 'footer.modal.closeModal'| trans }}</button>
                    <div style="display: inline-block">
                        {{ form_row(edit_form.submit, { 'attr': { 'class': 'btn btn-inverse-primary ' } }) }}
                    </div>
                </div>
                {{ form_end(edit_form) }}
                <p class="p-alt text-danger-custom hidden text-center">
                    <svg class="icon-svg icon-inline icon-svg-danger" width="30" height="30">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="{{ asset('bundles/theaterjobsmain/img/icon-sprite.svg#icon-warning') }}"></use>
                    </svg>
                    <span class="login-error-content" id="span-text-danger"> </span>
                </p>
            </div>

        </div>
    </div>
</div>
{% block js %}
    <script>
        var audioImgSrc = '{{ asset('bundles/theaterjobsprofile/images/soundwave.jpg') }}';
    </script>
    {% javascripts filter='?uglifyjs2'
        "@TheaterjobsProfileBundle/Resources/public/js/mediaAudio/new.js" %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}