<div class="block terms-cont">
    <!-- Page header -->
    <div class="page-header">
        <h1>{{ 'default.terms.header'| trans }}</h1>
        <div class="separator"></div>
    </div>

    <ol class="terms-trades" type="1">
        <li>
            <h3>{{ 'default.terms.trade.title1'| trans }}</h3>
            <p>1.1 {{ 'default.terms.trade.title1.description1'| trans }}</p>
            <p>1.2 {{ 'default.terms.trade.title1.description2'| trans }}</p>
            <p>1.3 {{ 'default.terms.trade.title1.description3'| trans }}</p>
        </li>

        <li>
            <h3>{{ 'default.terms.trade.title2'| trans }}</h3>
            <p>2.1 {{ 'default.terms.trade.title2.description1'| trans }}</p>
            <p>2.2 {{ 'default.terms.trade.title2.description2'| trans }}</p>
            <p>2.3 {{ 'default.terms.trade.title2.description3'| trans }}</p>
            <p>2.4 {{ 'default.terms.trade.title2.description4'| trans }}</p>
        </li>

        <li>
            <h3>{{ 'default.terms.trade.title3'| trans }}</h3>
            <p>3.1 {{ 'default.terms.trade.title3.description1'| trans }}</p>
            <p>3.2 {{ 'default.terms.trade.title3.description2'| trans }}</p>
            <p>3.3 {{ 'default.terms.trade.title3.description3'| trans }}</p>
        </li>

        <li>
            <h3>{{ 'default.terms.trade.title4'| trans }}</h3>
            <p>{{ 'default.terms.trade.title4.description'| trans }}</p>

        </li>
        <li>
            <h3>{{ 'default.terms.trade.title5'| trans }}</h3>
            <p>{{ 'default.terms.trade.title5.description'| trans }}</p>

        </li>
        <li>
            <h3>{{ 'default.terms.trade.title6'| trans }}</h3>
            <p>6.1 {{ 'default.terms.trade.title6.description1'| trans }}</p>
            <p>6.2 {{ 'default.terms.trade.title6.description2'| trans }}</p>
            <p>6.3 {{ 'default.terms.trade.title6.description3'| trans }}</p>
            <p>6.4 {{ 'default.terms.trade.title6.description4'| trans }}</p>
            <p>6.5 {{ 'default.terms.trade.title6.description5'| trans }}</p>
            <p>6.6 {{ 'default.terms.trade.title6.description6'| trans }}</p>
            <p>6.7 {{ 'default.terms.trade.title6.description7'| trans }}</p>
            <p>6.8 {{ 'default.terms.trade.title6.description8'| trans }}</p>
        </li>
        <li>
            <h3>{{ 'default.terms.trade.title7'| trans }}</h3>
            <p>7.1 {{ 'default.terms.trade.title7.description1'| trans }}</p>
            <p>7.2 {{ 'default.terms.trade.title7.description2'| trans }}</p>

        </li>
        <li>
            <h3>{{ 'default.terms.trade.title8'| trans }}</h3>
            <p>8.1 {{ 'default.terms.trade.title8.description1'| trans }}</p>
            <p>8.2 {{ 'default.terms.trade.title8.description2'| trans }}</p>

        </li>
        <li>
            <h3>{{ 'default.terms.trade.title9'| trans }}</h3>
            <p>{{ 'default.terms.trade.title9.description'| trans }}</p>

        </li>
        <li>
            <h3>{{ 'default.terms.trade.title10'| trans }}</h3>
            <p>10.1 {{ 'default.terms.trade.title10.description1'| trans }}</p>
            <p>10.2 {{ 'default.terms.trade.title10.description2'| trans }}</p>

        </li>
        <li>
            <h3>{{ 'default.terms.trade.title11'| trans }}</h3>
            <p>{{ 'default.terms.trade.title11.description'| trans }}</p>

        </li>
        <li>
            <h3>{{ 'default.terms.trade.title12'| trans }}</h3>
            <p>12.1 {{ 'default.terms.trade.title12.description1'| trans }}</p>
            <p>12.2 {{ 'default.terms.trade.title12.description2'| trans }}</p>
            <p>12.3 {{ 'default.terms.trade.title12.description3'| trans }}</p>
        </li>
        <li>
            <h3>{{ 'default.terms.trade.title13'| trans }}</h3>
            <p>13.1 {{ 'default.terms.trade.title13.description1'| trans }}</p>
            <p>13.2 {{ 'default.terms.trade.title13.description2'| trans }}</p>

        </li>
        <li>
            <h3>{{ 'default.terms.trade.title14'| trans }}</h3>
            <p>14.1 {{ 'default.terms.trade.title14.description1'| trans }}</p>
            <p>14.2 {{ 'default.terms.trade.title14.description2'| trans }}</p>
            <p>14.3 {{ 'default.terms.trade.title14.description3'| trans }}</p>
        </li>
        <li>
            <h3>{{ 'default.terms.trade.title15'| trans }}</h3>
            <p>{{ 'default.terms.trade.title15.description'| trans }}</p>
            <p>(1) {{ 'default.terms.trade.title15.description1'| trans }}</p>
            <p>(2) {{ 'default.terms.trade.title15.description2'| trans }}</p>
            <p>(3) {{ 'default.terms.trade.title15.description3'| trans }}</p>
            <p>(4) {{ 'default.terms.trade.title15.description4'| trans }}</p>
            <p>(5) {{ 'default.terms.trade.title15.description5'| trans }}</p>
            <p>(6) {{ 'default.terms.trade.title15.description6'| trans }}</p>
            <p>(7) {{ 'default.terms.trade.title15.description7'| trans }}</p>
            <p>(8) {{ 'default.terms.trade.title15.description8'| trans }}</p>
            <p>(9) {{ 'default.terms.trade.title15.description9'| trans }}</p>
            <p>(10) {{ 'default.terms.trade.title15.description10'| trans }}</p>
            <p>(11) {{ 'default.terms.trade.title15.description11'| trans }}</p>
            <p>(12) {{ 'default.terms.trade.title15.description12'| trans }}</p>
            <p>(13) {{ 'default.terms.trade.title15.description13'| trans }}</p>
            <p>(14) {{ 'default.terms.trade.title15.description14'| trans }}</p>
            <p>(15) {{ 'default.terms.trade.title15.description15'| trans }}</p>
            <p>(16) {{ 'default.terms.trade.title15.description16'| trans }}</p>
            <p>(17) {{ 'default.terms.trade.title15.description17'| trans }}</p>
            <p>(18) {{ 'default.terms.trade.title15.description18'| trans }}</p>
            <p>(19) {{ 'default.terms.trade.title15.description19'| trans }}</p>
            <p>(20) {{ 'default.terms.trade.title15.description20'| trans }}</p>
        </li>
        <li>
            <h3>{{ 'default.terms.trade.title16'| trans }}</h3>
            <p>{{ 'default.terms.trade.title16.description'| trans }}
                <a href="{{ path("tj_main_default_impresum") }}"
                   target="_blank">{{ 'default.terms.trade.title16.link'| trans }}</a></p>

        </li>
        <li>
            <h3>{{ 'default.terms.trade.title17'| trans }}</h3>
            <p>{{ 'default.terms.trade.title17.description'| trans }}
                <a href="{{ path("tj_main_default_impresum") }}"
                   target="_blank">{{ 'default.terms.trade.title17.link'| trans }}</a></p>
            <p>(1) {{ 'default.terms.trade.title17.description1'| trans }}</p>
            <p>(2) {{ 'default.terms.trade.title17.description2'| trans }}</p>
            <p>(3) {{ 'default.terms.trade.title17.description3'| trans }}</p>
            <p>(4) {{ 'default.terms.trade.title17.description4'| trans }}</p>
            <p>(5) {{ 'default.terms.trade.title17.description5'| trans }}</p>
        </li>
        <li>
            <h3>{{ 'default.terms.trade.title18'| trans }}</h3>
            <p>{{ 'default.terms.trade.title18.description'| trans }}</p>


        </li>

    </ol>
</div>