{% extends '::base.html.twig' %}

{% block content %}
    <div class="container imprint-cont">
        <div class="block">
            <!-- Page header -->
            <div class="page-header">
                <h1>{{ 'imprint.title'| trans }}</h1>
                <div class="separator"></div>
            </div>
            <div>


                <div class="row col-md-12 space-bottom">
                    <h3>{{ 'imprint.info.subtitle1'| trans }}</h3>
                    <p>{{ 'imprint.info.description1'| trans }}</p>
                </div>
                <div class="row col-md-12 space-bottom">
                    <h3>{{ 'imprint.info.subtitle2'| trans }}</h3>
                    <p>{{ 'imprint.info.description2'| trans }}</p>
                </div>
                <div class="row col-md-12 space-bottom">
                    <h3>{{ 'imprint.info.subtitle3'| trans }}</h3>
                    <p>{{ 'imprint.info.description3'| trans }}</p>
                </div>
                <div class="row col-md-12 space-bottom">
                    <h3>{{ 'imprint.info.subtitle4'| trans }}</h3>
                    <p>{{ 'imprint.info.description4'| trans }}</p>
                </div>

            </div>

            <div class="row col-md-12 space-bottom">
                <h3>{{ 'imprint.paragraph.title1'| trans }}</h3>
                <p>{{ 'imprint.paragraph.description1'| trans }}</p>
            </div>
            <div class="row col-md-12 space-bottom">
                <h3>{{ 'imprint.paragraph.title2'| trans }}</h3>
                <p>{{ 'imprint.paragraph.description2'| trans }}</p>
            </div>
            <div class="row col-md-12 space-bottom">
                <h3>{{ 'imprint.paragraph.title3'| trans }}</h3>
                <p>{{ 'imprint.paragraph.description3'| trans }}</p>
            </div>
            <div class="row col-md-12 space-bottom">
                <h3>{{ 'imprint.paragraph.title4'| trans }}</h3>
                <p>{{ 'imprint.paragraph.description4'| trans }}</p>
            </div>
            <div class="row col-md-12 space-bottom">
                <h3>{{ 'imprint.paragraph.title5'| trans }}</h3>
                <p>{{ 'imprint.paragraph.description5'| trans }}</p>
            </div>
        </div>
    </div>
{% endblock %}