{% extends "::base.html.twig" %}

{% block content %}
    <div class="wrapper-80">
        <div class="instagram-section">
            <h1 class="instagram-section-header">{{ 'instagram.title.theater.is.you' | trans }}</h1>
            <p>{{ 'instagram.description' | trans }}</p>
        </div>
    </div>

    <div class="container-fluid instagram-content">
        <span class="border-multicolors"></span>
        <div class="container instagram-section">
            <div class="container-title">
                <h1>
                    <span class="icon-instagram"></span>
                    <span class="text-purple"> {{ 'homepage.text.the' | trans }}</span>
                    <span class="text-danger"> #theapolis</span>
                    <span class="text-primary"> {{ 'homepage.text.community' | trans }}</span>
                </h1>
            </div>
            <div class="container-body">
                <div class="row masonry-grid">
                    <div class="col-md-3 instagram-item masonry-grid-item">
                        <div class="instagram-block">
                            <img src="{{ asset('bundles/theaterjobsmain/images/img-circle-1.jpg') }}" />
                            <div class="instagram-info">
                                <div class="instagram-text">
                                    <p>#theapolis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 instagram-item masonry-grid-item">
                        <div class="instagram-block">
                            <img src="{{ asset('bundles/theaterjobsmain/images/img-circle-2.jpg') }}" />
                            <div class="instagram-info">
                                <div class="instagram-text">
                                    <p>#theapolis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 instagram-item masonry-grid-item">
                        <div class="instagram-block">
                            <img src="{{ asset('bundles/theaterjobsmain/images/img-circle-3.jpg') }}" />
                            <div class="instagram-info">
                                <div class="instagram-text">
                                    <p>#theapolis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 instagram-item masonry-grid-item">
                        <div class="instagram-block">
                            <img src="{{ asset('bundles/theaterjobsmain/images/img-circle-4.jpg') }}" />
                            <div class="instagram-info">
                                <div class="instagram-text">
                                    <p>#theapolis</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 instagram-item masonry-grid-item">
                        <div class="instagram-block">
                            <img src="{{ asset('bundles/theaterjobsmain/images/img-circle-5.jpg') }}" />
                            <div class="instagram-info">
                                <div class="instagram-text">
                                    <p>#theapolis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 instagram-item masonry-grid-item">
                        <div class="instagram-block">
                            <img src="{{ asset('bundles/theaterjobsmain/images/img-circle-6.jpg') }}" />
                            <div class="instagram-info">
                                <div class="instagram-text">
                                    <p>#theapolis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 instagram-item masonry-grid-item">
                        <div class="instagram-block">
                            <img src="{{ asset('bundles/theaterjobsmain/images/img-circle-7.jpg') }}" />
                            <div class="instagram-info">
                                <div class="instagram-text">
                                    <p>#theapolis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 instagram-item masonry-grid-item">
                        <div class="instagram-block">
                            <img src="{{ asset('bundles/theaterjobsmain/images/img-circle-8.jpg') }}" />
                            <div class="instagram-info">
                                <div class="instagram-text">
                                    <p>#theapolis</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 instagram-item masonry-grid-item">
                        <div class="instagram-block">
                            <img src="{{ asset('bundles/theaterjobsmain/images/img-circle-9.jpg') }}" />
                            <div class="instagram-info">
                                <div class="instagram-text">
                                    <p>#theapolis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 instagram-item masonry-grid-item">
                        <div class="instagram-block">
                            <img src="{{ asset('bundles/theaterjobsmain/images/img-circle-10.jpg') }}" />
                            <div class="instagram-info">
                                <div class="instagram-text">
                                    <p>#theapolis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 instagram-item masonry-grid-item">
                        <div class="instagram-block">
                            <img src="{{ asset('bundles/theaterjobsmain/images/img-circle-11.jpg') }}" />
                            <div class="instagram-info">
                                <div class="instagram-text">
                                    <p>#theapolis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 instagram-item masonry-grid-item">
                        <div class="instagram-block">
                            <img src="{{ asset('bundles/theaterjobsmain/images/img-circle-12.jpg') }}" />
                            <div class="instagram-info">
                                <div class="instagram-text">
                                    <p>#theapolis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 instagram-item masonry-grid-item">
                        <div class="instagram-block">
                            <img src="{{ asset('bundles/theaterjobsmain/images/img-circle-13.jpg') }}" />
                            <div class="instagram-info">
                                <div class="instagram-text">
                                    <p>#theapolis</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="container-footer">
                <button class="button button-secondary">{{ 'homepage.link.show.more.instagram' | trans }}</button>
            </div>
        </div>
        <span class="border-multicolors"></span>
    </div>


    {% block javascripts %}

        {{ parent() }}

        {% javascripts "@TheaterjobsMainBundle/Resources/public/components/masonry/dist/masonry.pkgd.min.js"%}
        <script src="{{ asset_url }}"></script>
        <script>

            $(document).ready(function(){
                $('.masonry-grid').masonry({
                    itemSelector: '.masonry-grid-item',
                    percentPosition: true,
                    columnWidth: 270,
                    gutter:30
                });
            });

        </script>
        {% endjavascripts %}

    {% endblock %}

{% endblock %}