{% extends '::base.html.twig' %}

{% block content %}

    <div class="container">
        <div class="block privacy-cont">
            <!-- Page header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
                        <h1>{{ 'privacy.title'| trans }}</h1>
                        <div class="separator"></div>
                    </div>
                </div>
            </div>

            <div class="privacy">
                <div class="row space-bottom">
                    <p>{{ 'privacy.description'| trans }}</p>
                </div>

                <div class="row space-bottom">
                    <h3>1. {{ 'privacy.title1'| trans }}</h3>
                    <p>{{ 'privacy.title1.description'| trans }}</p>
                    <p>a) <b>{{ 'privacy.title1.subtitle_a'| trans }}</b> {{ 'privacy.title1.description_a'| trans }}</p>
                    <p>b) <b>{{ 'privacy.title1.subtitle_b'| trans }}</b> {{ 'privacy.title1.description_b'| trans }}</p>
                    <p>c) <b>{{ 'privacy.title1.subtitle_c'| trans }}</b> {{ 'privacy.title1.description_c'| trans }}</p>
                    <p>d) <b>{{ 'privacy.title1.subtitle_d'| trans }}</b> {{ 'privacy.title1.description_d'| trans }}</p>
                    <p>e) <b>{{ 'privacy.title1.subtitle_e'| trans }}</b> {{ 'privacy.title1.description_e'| trans }}</p>
                    <p>f) <b>{{ 'privacy.title1.subtitle_f'| trans }}</b> {{ 'privacy.title1.description_f'| trans }}</p>
                    <p>g) <b>{{ 'privacy.title1.subtitle_g'| trans }}</b> {{ 'privacy.title1.description_g'| trans }}</p>
                    <p>h) <b>{{ 'privacy.title1.subtitle_h'| trans }}</b> {{ 'privacy.title1.description_h'| trans }}</p>
                    <p>i) <b>{{ 'privacy.title1.subtitle_i'| trans }}</b> {{ 'privacy.title1.description_i'| trans }}</p>
                    <p>j) <b>{{ 'privacy.title1.subtitle_j'| trans }}</b> {{ 'privacy.title1.description_j'| trans }}</p>
                    <p>k) <b>{{ 'privacy.title1.subtitle_k'| trans }}</b> {{ 'privacy.title1.description_k'| trans }}</p>
                </div>
                <div class="row space-bottom">
                    <h3>2. {{ 'privacy.title2'| trans }}</h3>
                    <p>{{ 'privacy.title2.description'| trans }} <a href="{{ path("tj_main_default_impresum") }}" target="_blank">{{ 'privacy.title2.description.link'| trans }}</a></p>
                </div>
                <div class="row space-bottom">
                    <h3>3. {{ 'privacy.title3'| trans }}</h3>
                    <p>{{ 'privacy.title3.description'| trans }}</p>
                </div>
                <div class="row space-bottom">
                    <h3>4. {{ 'privacy.title4'| trans }}</h3>
                    <p>{{ 'privacy.title4.description'| trans }}</p>
                </div>
                <div class="row space-bottom">
                    <h3>5. {{ 'privacy.title5'| trans }}</h3>
                    <p>{{ 'privacy.title5.description'| trans }}</p>
                </div>
                <div class="row space-bottom">
                    <h3>6. {{ 'privacy.title6'| trans }}</h3>
                    <p>{{ 'privacy.title6.description'| trans }}</p>
                </div>
                <div class="row space-bottom">
                    <h3>7. {{ 'privacy.title7'| trans }}</h3>
                    <p>{{ 'privacy.title7.description'| trans }}</p>
                </div>
                <div class="row space-bottom">
                    <h3>8. {{ 'privacy.title8'| trans }}</h3>
                    <p>{{ 'privacy.title8.description'| trans }}</p>
                </div>
                <div class="row space-bottom">
                    <h3>9. {{ 'privacy.title9'| trans }}</h3>
                    <p>{{ 'privacy.title9.description'| trans }}</p>
                </div>
                <div class="row space-bottom">
                    <h3>10. {{ 'privacy.title10'| trans }}</h3>
                    <p>{{ 'privacy.title10.description'| trans }}</p>
                </div>
                <div class="row space-bottom">
                    <h3>11. {{ 'privacy.title11'| trans }}</h3>
                    <p>a) <b>{{ 'privacy.title11.subtitle_a'| trans }}</b> {{ 'privacy.title11.description_a'| trans }}</p>
                    <p>b) <b>{{ 'privacy.title11.subtitle_b'| trans }}</b> {{ 'privacy.title11.description_b'| trans }}</p>
                    <p>c) <b>{{ 'privacy.title11.subtitle_c'| trans }}</b> {{ 'privacy.title11.description_c'| trans }}</p>
                    <p>d) <b>{{ 'privacy.title11.subtitle_d'| trans }}</b> {{ 'privacy.title11.description_d'| trans }}</p>
                    <p>e) <b>{{ 'privacy.title11.subtitle_e'| trans }}</b> {{ 'privacy.title11.description_e'| trans }}</p>
                    <p>f) <b>{{ 'privacy.title11.subtitle_f'| trans }}</b> {{ 'privacy.title11.description_f'| trans }}</p>
                    <p>g) <b>{{ 'privacy.title11.subtitle_g'| trans }}</b> {{ 'privacy.title11.description_g'| trans }}</p>
                    <p>h) <b>{{ 'privacy.title11.subtitle_h'| trans }}</b> {{ 'privacy.title11.description_h'| trans }}</p>
                    <p>i) <b>{{ 'privacy.title11.subtitle_i'| trans }}</b> {{ 'privacy.title11.description_i'| trans }}</p>

                </div>
                <div class="row space-bottom">
                    <h3>12. {{ 'privacy.title12'| trans }}</h3>
                    <p>{{ 'privacy.title12.description'| trans }}</p>
                </div>
                <div class="row space-bottom">
                    <h3>13. {{ 'privacy.title13'| trans }}</h3>
                    <p>{{ 'privacy.title13.description'| trans }}</p>
                </div>
                <div class="row space-bottom">
                    <h3>14. {{ 'privacy.title14'| trans }}</h3>
                    <p>{{ 'privacy.title14.description'| trans }}</p>
                </div>
                <div class="row space-bottom">
                    <h3>15. {{ 'privacy.title15'| trans }}</h3>
                    <p>{{ 'privacy.title15.description'| trans }}</p>
                </div>
                <div class="row space-bottom">
                    <h3>16. {{ 'privacy.title16'| trans }}</h3>
                    <p>{{ 'privacy.title16.description'| trans }}</p>
                </div>
                <div class="row space-bottom">
                    <h3>17. {{ 'privacy.title17'| trans }}</h3>
                    <p>{{ 'privacy.title17.description'| trans }}</p>
                </div>
                <div class="row space-bottom">
                    <h3>18. {{ 'privacy.title18'| trans }}</h3>
                    <p>{{ 'privacy.title18.description'| trans }}</p>
                    <p>(1) <b>{{ 'privacy.title18.subtitle_1'| trans }}:</b> {{ 'privacy.title18.description_1.1'| trans }} <a href="http://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">{{ 'privacy.title18.description_1.1.link'| trans }}</a> {{ 'privacy.title18.description_1.2'| trans }} <a href="http://www.google.com/intl/de/policies/privacy/" target="_blank">{{ 'privacy.title18.description_1.2.link'| trans }}</a></p>
                    <p>(2) <b>{{ 'privacy.title18.subtitle_2'| trans }}:</b> {{ 'privacy.title18.description_2.1'| trans }} <a href="http://mailchimp.com/legal/privacy/" target="_blank">{{ 'privacy.title18.description_2.link'| trans }}</a> {{ 'privacy.title18.description_2.2'| trans }}</p>
                    <p>(3) <b>{{ 'privacy.title18.subtitle_3'| trans }}:</b> {{ 'privacy.title18.description_3'| trans }}</p>

                </div>
                <div class="row space-bottom">
                    <h3>19. {{ 'privacy.title19'| trans }}</h3>
                    <p>{{ 'privacy.title19.description'| trans }} <a href="http://instagram.com/about/legal/privacy/" target="_blank">{{ 'privacy.title19.description.link'| trans }}</a></p>
                </div>
                <div class="row space-bottom">
                    <h3>20. {{ 'privacy.title20'| trans }}</h3>
                    <p>{{ 'privacy.title20.description_1'| trans }} <a href="https://www.theapolis.de/index.php/user/privacy" target="_blank">{{ 'privacy.title20.description.link'| trans }}</a> {{ 'privacy.title20.description_2'| trans }}<br><i>{{ 'privacy.title20.description_3'| trans }}</i></p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}